<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Save Food</title>
	<style>
		html {
    		font-family: Arial, Helvetica, sans-serif;
    		font-size: 14px;
		}

		body {
			background-color: white;
		}

		.page {
			position: relative; 
			margin:auto;
			background-color: beige;
			background-position: top left;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 700px;
			border-style: solid;
			border-color: green;
			border-width: 5px; 
			height: 500px;
			width: 500px;
			text-align: center;
		}

		.page h1 {
			display: table;
			margin: 0.5rem;
			background-color: rgba(0, 0, 0, .4);
			color: azure;
		}

		.page #menu {
			font-size: large;
			background-color: rgba(211,211,211, 0.5);
			position: absolute; 
			width: 200px;
			border-style: solid;
			left: 150px;
			top: 175px;
			text-align: center;
		}

		a:link {
			color: brown;	
		}

		a:visited {
			color:grey;
		}

		a:hover {
			font-size: 12px;
			color: blue;
		}

		a:active {
			color: lightgreen;
		}
	</style>
</head>

<body>
	
	<div class="page">
        <%- header %> 
        <div id="menu">
            <a href="/enterFood"><u>Save Another Food</u></a>
            <br>
			<%- footer %> 
        </div>       
    </div>
</body>

</html>
